include ../mixins/params

.schedule

	.schedule__head

		.schedule__title-wrap

			each val, i in global[0].addresses

				if (i == 1)
					each str, j in ['Взрослый', 'Детский']
						a.schedule__title(
							href= "#scheduleTable-" + (j + 2)
							class= j == 1 ? 'schedule__title_style_children' : ''
						)
							span= val.name + ' (' + str + ')'
				else
					a.schedule__title(
						href= "#scheduleTable-" + (i + 1)
					)
						span= val.name

		//-.schedule__param-wrap
		//-
		//-	each val, i in params
		//-		.schedule__param
		//-			+params(val, i)
		//-
		//-.main__space_bot.text-center
		//-	include cats

	.schedule__body

		each salon, tableIndex in schedule__table

			.schedule__table.schedule__table_hidden(
				class= salon.style ? 'schedule__table_style_' + salon.style : ''
				id= 'scheduleTable-' + (tableIndex + 1)
			)

				.schedule__table-wrap
					table.schedule__table-i
						thead

							tr
								td(colspan=2) День недели
								each val in ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье']
									td(rowspan=2)= val
							tr
								td Время
								td Зал

						tbody
							each row in salon.salon
								- var rowCount = row.halls.length
								- var isPool = false;
								tr
									td.schedule__table-time(rowspan= rowCount)= row.time
									td.schedule__table-hall= row.halls[0].hall

									- if (row.halls[0].hall == 'Бассейн') isPool = true;

									- for (var i = 0; i < 7; i++) {
										- var program = row.halls[0].days[i].program;
										td(class= program.title || program.notice || program.coach ? isPool ? 'schedule__table-cell-colored-pool' : 'schedule__table-cell-colored' : '')
											if program.title
												.schedule__table-title= program.title

											if program.notice
												.schedule__table-notice= program.notice

											if program.coach
												.schedule__table-coach= program.coach
									- }

								each hall, j in row.halls
									if j
										tr
											td.schedule__table-hall= hall.hall

											- if (hall.hall == 'Бассейн') isPool = true;

											- for (var i = 0; i < 7; i++) {
												- var program = hall.days[i].program;
												td(class= program.title || program.notice || program.coach ? isPool ? 'schedule__table-cell-colored-pool' : 'schedule__table-cell-colored' : '')
													if program.title
														.schedule__table-title= program.title

													if program.notice
														.schedule__table-notice= program.notice

													if program.coach
														.schedule__table-coach= program.coach
											- }

								- count++;

				.schedule__print-btn
					a.btn.js-print(href="#") Распечатать прайс-лист