.tab-lg

	.tab-lg__head.main__space_bot

		each val, i in global[0].addresses

			if (i == 1)
				each str, j in ['Взрослый', 'Детский']
					a.tab-lg__title(
						href= "#panel-" + (j + 2)
						class= j == 1 ? 'tab-lg__title_style_children' : ''
					)
						span= val.name + ' (' + str + ')'
			else
				a.tab-lg__title(
					href= "#panel-" + (i + 1)
				)
					span= val.name

	.tab-lg__body

		each salon, tableIndex in schedule

			.tab-lg__panel.tab-lg__panel_hidden(id= 'panel-' + (tableIndex + 1))

				.schedule(class= salon.style ? 'schedule_style_' + salon.style : '')

					.schedule__wrap
						table.schedule__table
							thead

								tr
									td(colspan=2) День недели
									each val in ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье']
										td(rowspan=2)= val
								tr
									td Время
									td Зал

							tbody
								each row in salon.salon
									- var rowCount = row.halls.length
									- var isPool = false;
									tr
										td.schedule__table-time(rowspan= rowCount)= row.time
										td.schedule__table-hall= row.halls[0].hall

										- if (row.halls[0].hall == 'Бассейн') isPool = true;

										- for (var i = 0; i < 7; i++) {
											- var program = row.halls[0].days[i].program;
											td(class= program.title || program.notice || program.coach ? isPool ? 'schedule__table-cell-colored-pool' : 'schedule__table-cell-colored' : '')
												if program.title
													.schedule__table-title= program.title

												if program.notice
													.schedule__table-notice= program.notice

												if program.coach
													.schedule__table-coach= program.coach
										- }

									each hall, j in row.halls
										if j
											tr
												td.schedule__table-hall= hall.hall

												- if (hall.hall == 'Бассейн') isPool = true;

												- for (var i = 0; i < 7; i++) {
													- var program = hall.days[i].program;
													td(class= program.title || program.notice || program.coach ? isPool ? 'schedule__table-cell-colored-pool' : 'schedule__table-cell-colored' : '')
														if program.title
															.schedule__table-title= program.title

														if program.notice
															.schedule__table-notice= program.notice

														if program.coach
															.schedule__table-coach= program.coach
												- }

									- count++;

					.schedule__print-btn
						a.btn.js-print(href="#") Распечатать расписание