mixin params(data, index)
	.params
		.params__title(title= data.title)= data.title
		.params__str(title= 'Все') Все

		.params__sub
			.params__sub-i

				each sub, j in data.values
					- var id = "param-" + (index + 1) + '-opt-' + (j + 1)

					input.params__sub-item(
						type="checkbox"
						id= id
						value= sub
					)
					label(for= id)= sub