mixin tab-lg(data)
	.tab-lg(class= attributes.class == 'tab-lg_left' ? 'tab-lg_left row' : '')

		.tab-lg__head(class= attributes.class == 'tab-lg_left' ? '' : 'main__space_bot')

			each val, j in data
				a.tab-lg__title(href= "#panel" + (j + 1))
					span= val.name

		.tab-lg__body

			each val, j in data
				.tab-lg__panel.tab-lg__panel_hidden(id= "panel" + (j + 1))
					.row.main__space_bot-half

						each cat in val.cat

							.main__space_bot-half(class= attributes.class == 'tab-lg_left' ? 'col-12' : val.lg ? 'col-lg-10 offset-lg-1' : 'col-sm-6')

								if cat.cat_name
									p.main__contents-title= cat.cat_name

								if cat.cat_desc
									.main__contents-desc!= cat.cat_desc

								each list in cat.list

									if list.name
										.contents
											p.contents__title(
												class= !list.price ? 'contents__title_alone' : ''
												class= list.name_first ? 'contents__title_mt_none' : ''
											)= list.name + (list.notice ? ' *' : '')

											if list.price
												p.contents__value
													span= list.price + ' р.'

									if list.desc
										.main__contents-desc(class= list.desc_last ? 'main__contents-desc_mb_none' : 'main__contents-desc_mb_2x')!= list.desc

					if val.notice
						.main__space_bot= val.notice